body {
    background-color: #ffffff;
    font-family: 'HK Grotesk', sans-serif;                                         
}

.title { 
    text-align: center
}

.section-heading{
    text-decoration: underline;
    text-align: center;
}

.text-content{
    text-align: center;

}