body {
    background-color: #ffffff;
    font-family: 'HK Grotesk', sans-serif;                                         
}


::selection {
    background-color: #CBDDD1;
    color: #ffffff;
    }

.title { 
    text-align: center
}

.section-heading{
    text-decoration: underline;
    text-align: center;
}

.text-content{
    text-align: center;

}

.img-container{
    display: flex;
    justify-content: space-evenly;

}

.imgs { 
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.author-imgs {
    display: flex;
    justify-content: space-evenly;
}

.author-item{
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

