

body {
    background-color: #F6F6E9;
    font-family: 'HK Grotesk', sans-serif;
    box-sizing: border-box;                                         
}



[hidden] {
  display: none !important;
}


::selection {
    background-color: #CBDDD1;
    color: #ffffff;
    }

.title { 
    text-align: center
}

.section-heading{
    text-decoration: underline;
    text-align: center;
}

.text-content{
    text-align: center;

}

.img-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

}

.imgs { 
    height: 150px;
    width: 150px;
    object-fit: contain;
}

#toggle-content{ 
  font-family: 'HK Grotesk', sans-serif;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: black;
  background: #F6F6E9;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#interactive-content { 
  display: flex;
  justify-content: center;
  padding-top: 15px;
  
}

#toggle-content:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }


  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }



#toggle-content:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F6F6E9;
    left: 0;
    top: 0;
    border-radius: 10px;
  }



.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  place-items: center;
  
}

.top-row, .bottom-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row{
  padding-top: 10px;
  justify-content: space-around;
}


.author-item{
  height: 145px;
  width: 145px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 10px;
  border: 5px solid black
}


.author-container { 
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
















