body {
    background-color: #ffffff;
    font-family: 'HK Grotesk', sans-serif;                                         
}

.title { 
    text-align: center
}

.section-heading{
    text-decoration: underline;
    text-align: center;
}

.text-content{
    text-align: center;

}

.img-container{
    display: flex;
    justify-content: space-evenly;

}

.imgs { 
    height: 150px;
    width: 150px;
    object-fit: contain;
}