

body {
    background-color: #ffffff;
    font-family: 'HK Grotesk', sans-serif;
    box-sizing: border-box;                                         
}


.title { 
    text-align: center
}

.section-heading{
    text-decoration: underline;
    text-align: center;
}

.text-content{
    text-align: center;

}

.column-container { 
  max-width: 1000px;
  margin: 0 auto; 
  padding: 10px;

}

.row {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.img-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;

}

.imgs { 
    object-fit: cover;
    height: 500px;
   
}



#interactive-content { 
  display: flex;
  padding-top: 15px;
  flex: 1;
  width: fit-content
  
  
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px; 
  place-items: center;
  
}

.top-row, .bottom-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row{
  padding-top: 10px;
  justify-content: space-around;
}


.author-item{
  height: 145px;
  width: 145px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 10px;
  border: 5px solid black
}


.author-container { 
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
















